@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.font-geist {
  font-family: "Inter", sans-serif;
}
@font-face {
  font-family: "Redwing";
  src: url("/fonts/Redwing/redwing-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redwing";
  src: url("/fonts/Redwing/redwing-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.red {
  font-family: "Redwing", sans-serif;
}
/* 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
body {
  @apply bg-[#111921];
}
.dropdown-active {
  @apply text-white transition-all duration-100 ease-in-out;
}
.sidebar-link {
  @apply flex gap-2 items-center w-full p-2 text-left rounded   text-[14px] cursor-not-allowed;
}
.active {
  @apply bg-[#70757A] text-white!;
}
.sub-link {
  @apply w-full text-left cursor-pointer text-[14px] flex items-center gap-2 text-[#FFFFFF26]  hover:bg-[#70757A] hover:text-white pl-6 py-2;
}
.btn {
  @apply rounded-xl cursor-pointer hover:opacity-70 transition-all duration-100 ease-in-out text-[14px] p-2;
}
